
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <h1>Welcome to my WishList Page</h1>
    <a asp-action="index" asp-controller="Item">View wishList</a>

</body>
</html>
